@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 align="center">This is a Microservice Demo.</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Current User Claims:</h3>
        <dl>
            @foreach (var claim in User.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
        <a  href="/Home/Logout">Logout</a>
        <br /> <br /> <br />
        <a href="/Home/CallTestApi">CallTestApi</a>
    }

</body>
</html>
